@model _2020Partialview.Models.Class1

<table width="400" border="2" align=" "center">

<tr>

    <td>
        <img
             src= @Url.Content(Model.photo)'width="200" height="200"/>
    </td>
     <td>
         <table frame ="box" rules ="all" align="center">

             <tr>
                 <td> Place ID </td>
                 <td> @Model.PlaceID</td>
             </tr>
             <tr>
                 <td>Name of the place</td>
                 <td>@Model.Price</td>
             </tr>
     
             
             </td>
