
<html>


    
<body>
<form>
    <div>
        <h2>   Login</h2>
        <dl>

        <dd>
            <input type="text/>"
        </dd>
        <dd>  
            <input type="password"/>
            
        </dd>

        </dl>
        <button>Login
        </button>
    
    </div>
</form>